/* -------------------- LAYOUT FORMATTING ---------------------------------------- */

body, h1 {
    margin: 0px;
}

#wrapper {
    width: 90%;
    margin: auto;
}

header {
    background-image: url(../images/banner-3.JPG);
    /* Resource: https: //creativemarket.com/Nadia-nb/2358458-Baking-background-top-view-featuring-baking-baking-background-and-cooking */
    background-size: 100%;
    background-position: center;
    margin: 0;
    padding: 50px;
}

/* -------------------- NAVIGATION BAR ---------------------------------------- */
#topnav {
    background-color: #fff4e1;
    margin-bottom: 100;
    border-bottom: 10px solid #9ddcdc;
    text-align: center;
}

#topnav ul {
    margin: 0;
}

#topnav ul li {
    display: inline;
    font-family: "Trebuchet MS", sans-serif;
    letter-spacing: 3px;
    color: #e67a7a;
    text-shadow: 8px 8px 10px #ffebb7;
}

#topnav a:hover {
    color: black;
    border-bottom: 3px solid #e67a7a;
}

/* -------------------- CONTENT ---------------------------------------- */

hr {
    border: 3px solid #e67a7a;
    margin: 50px 5px;
}

h1 {
    font-family: "Century Gothic", serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 8px 8px 10px #ffebb7;
    margin: 0;
}

h1 a {
    color: #e67a7a;
    text-decoration: none;
    text-transform: uppercase;
}

h1 a:hover {
    color: black;
}

.contactWay {
    float: left;
}

.contactWay section {
    border: 5px solid #9ddcdc;
    border-radius: 30px;
    width: 240px;
    margin-top: 20px;
    margin: 20px 30px 20px 0;
    padding-left: 20px;
}

.contactWay a {
    color: #e67a7a;
    text-decoration: none;
}

.contactWay a:hover {
    color: black;
    border-bottom: 3px solid #e67a7a;
}

#email_icon {
    font-size: 35px;
}

li, p {
    font-family: "Trebuchet MS", sans-serif;
}

nav a {
    color: #e67a7a;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    font-weight: bolder;
}

nav ul {
    flex-direction: column;
    padding: 0;
    list-style: none;
}

h2, h3 {
    font-family: "Garamond", sans-serif;
    color: #e67a7a;
}

/* -------------------- FORM ---------------------------------------- */
fieldset {
    border: 5px solid #9ddcdc;
    border-radius: 30px;
    color: #e67a7a;
    margin-top: 20px;
    padding: 30px 30px;
}

fieldset > div {
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
}

input[type=text] {
    width: 90%;
    border-color: #e67a7a;
    border-radius: 10px;
    padding-left: 10px;
    height: 20px;
    margin-top: 10px;
}

select {
    border-color: #e67a7a;
    color: #e67a7a;
    height: 20px;
    margin-left: 20px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 15px;
}

input[type=submit] {
    border-color: #e67a7a;
    background-color: #e67a7a;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    height: 30px;
}

textarea[name=message] {
    width: 90%;
    height: 150px;
    border: 2px solid #e67a7a;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}

.form_control small {
    visibility: hidden;
}

.form_control.error small {
    visibility: visible;
    color: red;
}

/* -------------------- FOOTER STYLES ---------------------------------------- */

footer {
    clear: both;
    width: 100%;
    display: flex;
    background-color: #ffebb7;
    padding: 10px 10%;
    margin-top: 20px;
}

footer > div {
    display: inline-block;
    width: 33%;
}

#footernav a {
    padding: 10px 20px;
    display: block;
    padding: 0;
    text-transform: none;
    font-weight: 600;
}

#footernav a:hover {
    text-decoration: underline;
}