/* -------------------- LAYOUT FORMATTING ---------------------------------------- */

#pagecontainer {
    display: flex;
    flex-direction: column;
}

#wrapper {
    width: 100%;
}

header {
    background-image: url(../images/banner-edited.JPG);
    /* Resource: https: //creativemarket.com/Nadia-nb/2358458-Baking-background-top-view-featuring-baking-baking-background-and-cooking */
    background-size: 100%;
    background-position: center;
    background-color: white;
    padding: none;
}

#wrapper .carousel .slide img {
    width: 180px;
    height: 160px;
}

/* -------------------- NAVIGATION BAR ---------------------------------------- */

#sidenav {
    background-color: #fff4e1;
    border-bottom: 10px solid #9ddcdc;
    border-right: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#sidenav a {
    letter-spacing: 3px;
    text-transform: uppercase;
}

nav a {
    color: #e67a7a;
    text-shadow: 8px 8px 10px #ffebb7;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

nav>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: none;
}

li {
    font-family: "Trebuchet MS", sans-serif;
}

/* -------------------- CONTENT ---------------------------------------- */

main {
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: "Century Gothic", serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 8px 8px 10px #ffebb7;
}

h1 a {
    color: #e67a7a;
    text-decoration: none;
    text-transform: uppercase;
}

h2,
h3 {
    font-family: "Garamond", sans-serif;
    color: #e67a7a;
    font-weight: bolder;
}

p {
    font-family: "Trebuchet MS", sans-serif;
}

hr {
    border: 3px solid #e67a7a;
    margin: 50px 5px;
}

/* -------------------- FOOTER STYLES ---------------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ffebb7;
    padding: none;

}

footer>div {
    flex: auto auto auto;
    padding: 0 100px;
}

.footerpane>h3 {
    text-align: center;
}

footer ul {
    list-style: none;
    padding-left: 0;
    width: max-content;
    text-align: center;
}

#footernav a {
    padding: 0;
    text-transform: none;
    font-weight: 600;
}