nav, body, h1, h2 {
    margin: 0;
}
main, h3 {
    margin: 0;
}
nav {
    background-color: #9ddcdc;
}
nav a {
    background-color: #9ddcdc;
    color: #fff4e1;
    font-family: monospace;
}
header {
    background-color: #fff4e1;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #e67a7a;
}
main {
    background-color: #ffebb7;
    color: darkorange;
}
#customerreview {
    background-color: #e67a7a;
    color: #fff4e1;
}
#customerreview h2 {
    color: #fff4e1;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    font-style: oblique;
}
footer {
    background-color: #9ddcdc;
    color: #fff4e1;
    font-family: monospace;
}
img {
    width: 300px;
    height: 300px;
}
section {
    display: inline-block;
    padding: 5px;
}